


    <section>
        <div class="container mt-5">
            <div class="row">
                {{#each products}}
                <div class="col-md-3 ">

                    <div style="padding-left:25px ;" class="card" style="width: 18rem;">
                        <img style="width: 200px; height: 250px;;" class="card-img-top"
                            src="/product-images/{{this._id}}.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.Name}}</h5>
                            <p class="card-text">{{this.Description}}</p>
                            <h5>Price Rs:{{this.Price}}</h5>
                           
                            <button onclick="addtoCart('{{this._id}}')" class="btn btn-primary">Add To Cart</button>
                        </div>
                    </div>
              
              </div>
              {{/each}}

            </div>
        </div>
    </section>
<script >
  function addtoCart(proId){
    $.ajax({
        url:'/add-to-cart/'+proId,
        method:'get',
        success:function(response){

            if(response.status){
                let count=$('#cart-count').html()
                count=parseInt(count)+1
            $('#cart-count').html(count)

            }
         
        }
    })
}

</script>


    